version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: senha123
      MYSQL_DATABASE: carro_db
      MYSQL_USER: carro_user
      MYSQL_PASSWORD: senha123
    volumes:
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306" 
    networks:
      - app-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_container
    working_dir: /app
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: sh -c "npm install && npm run start"
    depends_on:
      - db
    restart: always
    environment:
      MYSQL_DATABASE: carro_db
      MYSQL_USER: carro_user
      MYSQL_PASSWORD: senha123
      MYSQL_HOST: db
      MYSQL_PORT: 3306 
    ports:
      - "4000:4000"
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend_container
    environment:
      REACT_APP_API_BASE_URL: http://backend:4000/api
      VITE_API_BASE_URL: http://backend:4000/api
    depends_on:
      - backend
    ports:
      - "3000:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
