body {
  margin: 0;
  font-family: 'Formula1', Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #20232a;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo a {
  color: #F70100;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-logo a:hover {
  color: #F70100;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #ffffff;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
  padding: 5px 10px;
  border-radius: 4px;
}

.navbar-links a:hover {
  color: #F70100;
  background-color: #333;
}

.navbar-links.active {
  background-color: #20232a;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.navbar-links.active li {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .navbar-links {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: -100%;
    background-color: #20232a;
    transition: left 0.3s;
  }

  .navbar-links.active {
    left: 0;
  }

  .navbar-links li {
    margin: 10px 0;
  }
}
